// colors
:root {
	--color-1: #f2f5ff;
	--color-2: #0b0b0b77;
	--color-3: #bccce3;
	--color-4: #190d81;
	--color-5: #b18fc1;
	--color-6: #e61163;
	--color-7: #4b4b4b;

	--color-Negro: #000;
	--color-Blanco: #fff;
	--color-AmarilloPollito: #fff59d;
	--color-Amarillo: #fff000;
	--color-Dorado: #daa520;
	--color-Naranja: #ff4500;
	--color-Mamey: #ca987f;
	--color-Rojo: #FF0000;
	--color-RosadoChicle: #fe4164;
	--color-RosadoFUcsia: #ff0080;
	--color-Rosado: #EC85C1;
	--color-RosadoViejo: #d36e70;
	--color-MoradoLila: #B695C0;
	--color-Morado: #800080;
	--color-AzulLapicero: #0000FF;
	--color-AzulEscolar: #64B5F6;
	--color-AzulTurqueza: #1E88E5;
	--color-VerdeCotorra: #008000;
	--color-VerdeLuminico: #3ff300;
	--color-VerdeManzana: #afbb34;
	--color-Gris: #e3e4e5;
	--color-Marron: #804000;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	scroll-behavior: smooth;
}
